.chatbot {
    display: flex;
    flex-direction: column;
    background-color: #a9d3d9;
    height: 70%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 20px;
    gap: 10%;
    justify-content: end;
}
.box{
    height: 100%;
}
.box h2{
    color: #8aacb1;
    text-align: center;
    margin-top: 20%;
    padding: 0 50px 0 50px;
    font-size: xx-large;
}
.chatbot input{
    margin-left: 5%;
    height: 4rem;
    width: 90%;
    background-color:#5b8894;
    border-radius: 10px;
    margin-bottom: 50px;
}
::placeholder{
    color: #a9d3d9;
    font-size: 3rem;
    text-align: end;
}